@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing*@
@using global::YetaWF.Core.Pages
@using global::YetaWF.Core.Modules
@using global::YetaWF.Core.Menus
@inherits global::YetaWF.Core.Pages.RazorPage
@{
    Manager.SetSkinOptions(UsingBootstrap: true, UsingBootstrapButtons:true, MinWidthForPopups: 970);
    //uncomment the following to use Modernizr with your skin (this is not required by the skin)
    //Manager.AddOnManager.AddAddOnGlobal("Modernizr.com", "Modernizr");
}
<!DOCTYPE html>
<html lang="@Manager.CurrentPage.GetPageLanguageId()">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [[Manager,-MetatagsHtml]]
    [[Manager,-PageTitleHtml]]
    [[PageOrSite,-FavIconLink]]
    [[ThisPage,-CanonicalUrlLink]]
    [[ThisPage,-HrefLangHtml]]
</head>
<body class="@Manager.PageCss("pageSkinDefault")">
    <noscript><div class="yDivWarning" style="height:100px;text-align:center;vertical-align:middle">This site requires Javascript</div></noscript>
    @(Html.RenderModule<global::YetaWF.Modules.SiteProperties.Modules.LockedStatusModule>(m => {
        m.CssClass = "skinLockedStatus hidden-print";
    }))

    @*// Page Header*@
    <div class="container hidden-print">
        <div class="row">
            <div class="col-md-5">
                @(Html.RenderModule<global::YetaWF.Modules.Text.Modules.TextModule>(new Guid("{AFA55B5E-1CA5-43c7-B9B3-245C172E0819}"), m => {
                m.Name = "Page Logo (Skin)";
                m.ShowTitle = false;
                m.EditOnPage = false;
                m.CssClass = "skinLogo";
            }))
            </div>
            <div class="col-md-3">
                @if (Manager.CurrentSite.Localization) {
                    @(Html.RenderModule<global::YetaWF.Modules.TinyLanguage.Modules.TinyLanguageModule>(new Guid("{E24356D7-9F90-42e6-A370-ECDB36FD34F5}"), m => {
                        m.Name = "Tiny Language (Skin)";
                        m.CssClass = "skinTinyLanguage navbar-form";
                    }))
                }
            </div>
            <div class="col-md-4">
                @(Html.RenderModule<global::YetaWF.Modules.TinyLogin.Modules.TinyLoginModule>(m => {
                    m.CssClass = "skinTinyLogin navbar-form navbar-right";
                }))
                @*@(Html.RenderModule<global::YetaWF.Modules.Search.Modules.SearchInputModule>(new Guid("{B6EB73A4-0316-46f1-831B-0993CD280F61}"), m => {
                    m.ShowTitle = false;
                    m.Name = "Search Input (Skin)";
                    m.CssClass = "skinSearchInput navbar-form navbar-right";
                }))*@
                @(Html.RenderModule<global::YetaWF.Modules.Visitors.Modules.TinyVisitorsModule>())
            </div>
        </div>
    </div>

    @*// Main Menu Navbar*@
    <nav class="navbar navbar-default navbar-static-top navbar-inverse hidden-print">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".yPageMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @(Html.RenderModule<global::YetaWF.Modules.Menus.Modules.MainMenuModule>(m => {
                m.Name = "Main Menu Module (Skin)";
            }))
        </div>
    </nav>

    @{
        // render the header, if it's not empty format it as a jumbotron
        // this way we can use the same skin whether we have a header or not
        string s = RenderPane("Header", "col-md-12 HeaderPane AnyPane").ToHtmlString();
        if (!string.IsNullOrWhiteSpace(s)) {
            // Jumbotron
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        @Html.Raw(s)
                    </div>
                </div>
            </div>
        }
    }

    @*// Panes*@
    <div class="container maincontainer">
        <div class="row">
            @RenderPane("", "col-md-12 MainPane AnyPane", Unified: true)
        </div>
        <div class="row">
            @RenderPane("PaneSetL2_RightPane", "col-md-4 PaneSetL2_MainPane AnyPane", Conditional: false, Unified: true)
            @RenderPane("PaneSetL2_MainPane", "col-md-8 PaneSetL2_LeftPane AnyPane", Conditional: false, Unified: true)
        </div>
        <div class="row">
            @RenderPane("PaneSet3_LeftPane", "col-md-3 PaneSet3_LeftPane AnyPane", Conditional: false, Unified: true)
            @RenderPane("PaneSet3_MainPane", "col-md-6 PaneSet3_MainPane AnyPane", Conditional: false, Unified: true)
            @RenderPane("PaneSet3_RightPane", "col-md-3 PaneSet3_RightPane AnyPane", Conditional: false, Unified: true)
        </div>
        <div class="row">
            @RenderPane("PaneSetR2_MainPane", "col-md-8 PaneSetR2_MainPane AnyPane", Conditional: false, Unified: true)
            @RenderPane("PaneSetR2_RightPane", "col-md-4 PaneSetR2_RightPane AnyPane", Conditional: false, Unified: true)
        </div>
    </div>

    @{
        // render the FooterPane pane, if it's not empty format it as a footer
        // this way we can use the same skin whether we have a FooterPane or not
        s = RenderPane("Footer", "FooterPane AnyPane").ToHtmlString();
        if (!string.IsNullOrWhiteSpace(s)) {
            <div class="PaneSetFooter">
                <div class="container">
                    <div class="row col-md-12">
                        @Html.Raw(s)
                    </div>
                </div>
            </div>
        }
    }

    <footer>
        <p>[[PageOrSite,CopyrightEvaluated]]</p>
    </footer>

    @(Html.RenderModule<global::YetaWF.Modules.Sites.Modules.SiteSelectorModule>(m => {
        m.CssClass = "skinSiteSelector hidden-print";
    }))
    @(Html.RenderModule<global::YetaWF.Modules.Identity.Modules.LoginSelectorModule>(m => {
        m.CssClass = "skinLoginSelector hidden-print";
    }))
    @(Html.RenderModule<global::YetaWF.Modules.Search.Modules.SearchControlModule>())

    @(Html.RenderEditControl<global::YetaWF.Modules.PageEdit.Modules.EditModeModule>())
    @(Html.RenderPageControl<global::YetaWF.Modules.PageEdit.Modules.PageControlModule>())

    @(Html.RenderUniqueModuleAddOns())
</body>
</html>
